# This file is managed by Ansible, all changes will be lost

# Accept incoming DNS requests on internal network
interface {{ subnetwork_iface }} protocol (tcp udp) dport domain ACCEPT;

# Accept incoming DHCPv4 requests on internal network
@if @eq ($DOMAIN, ip) interface {{ subnetwork_iface }} protocol udp dport bootps ACCEPT;

# Accept incoming DHCPv6 requests on internal network
@if @eq ($DOMAIN, ip6) interface {{ subnetwork_iface }} protocol udp dport dhcpv6-server ACCEPT;

