# This file is managed by Ansible, all changes will be lost

{% if subnetwork_forwarding and subnetwork_forwarding %}
# Forward host connections to the outside world
domain $domains table filter chain FORWARD {
	interface {{ subnetwork_iface }} ACCEPT;
	outerface {{ subnetwork_iface }} ACCEPT;
}

{% endif %}
{% if ((subnetwork_ipv4 is defined and subnetwork_ipv4 | ipv4) and
       (subnetwork_ipv4_nat is defined and subnetwork_ipv4_nat)) %}
# Manage DNAT/MASQUERADE for IPv4 network
@if $ipv4_enabled {
	domain ip table nat {
		chain POSTROUTING {
			destination {{ subnetwork_ipv4 | ipaddr('network') }}/{{ subnetwork_ipv4 | ipaddr('netmask') }} RETURN;
{% if subnetwork_ipv4_nat_masquerade is defined and subnetwork_ipv4_nat_masquerade %}
			source {{ subnetwork_ipv4 | ipaddr('network') }}/{{ subnetwork_ipv4 | ipaddr('netmask') }} MASQUERADE;
{% elif subnetwork_ipv4_nat_masquerade is defined and not subnetwork_ipv4_nat_masquerade %}
			source {{ subnetwork_ipv4 | ipaddr('network') }}/{{ subnetwork_ipv4 | ipaddr('netmask') }} SNAT to {{ hostvars[inventory_hostname]["ansible_" + subnetwork_ipv4_gateway].ipv4.address }};
{% endif %}
		}
	}
}
{% endif %}

