{% set subnetwork_tpl_ipv4 = subnetwork_addresses | unique | ipv4("host/prefix") %}
# {{ ansible_managed }}

{% if subnetwork_forwarding is defined and subnetwork_forwarding %}
# Forward host connections to the outside world
domain $domains table filter chain FORWARD {
	interface {{ subnetwork_iface }} ACCEPT;
	outerface {{ subnetwork_iface }} ACCEPT;
}

{% endif %}
{% if (subnetwork_tpl_ipv4 and (subnetwork_ipv4_nat is defined and subnetwork_ipv4_nat)) %}
# Manage DNAT/MASQUERADE for IPv4 network
@if $ipv4_enabled {
	domain ip table nat {
		chain POSTROUTING {
			destination {{ subnetwork_tpl_ipv4 | first | ipaddr('network') }}/{{ subnetwork_tpl_ipv4 | first | ipaddr('netmask') }} RETURN;
{% if subnetwork_ipv4_nat_masquerade is defined and subnetwork_ipv4_nat_masquerade %}
			source {{ subnetwork_tpl_ipv4 | first | ipaddr('network') }}/{{ subnetwork_tpl_ipv4 | first | ipaddr('netmask') }} MASQUERADE;
{% elif subnetwork_ipv4_nat_masquerade is defined and not subnetwork_ipv4_nat_masquerade %}
			source {{ subnetwork_tpl_ipv4 | first | ipaddr('network') }}/{{ subnetwork_tpl_ipv4 | first | ipaddr('netmask') }} SNAT to {{ hostvars[inventory_hostname]["ansible_" + subnetwork_ipv4_nat_snat_interface].ipv4.address }};
{% endif %}
		}
	}
}
{% endif %}

