#!/bin/sh

# This file is managed by Ansible, all changes will be lost

{% if subnetwork_ipv6_gateway is defined and subnetwork_ipv6_gateway %}
# Force Router Advertisement support on gateway IPv6 interface
if [ "$IFACE" = "{{ subnetwork_ipv6_gateway }}" ] ; then
  sysctl -w net/ipv6/conf/{{ subnetwork_ipv6_gateway }}/accept_ra=2
fi
{% else %}
# No IPv6 gateway has been detected
{% endif %}

